---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../components/HeaderSection.astro";
import FooterSection from "../components/FooterSection.astro";

import "../styles/global.css";
import BlogPostListItem from "../components/BlogPostListItem.astro";

const blogPosts = await getCollection("blog");
---

<Layout title="Lobstars Ultimate Frisbee - Berlin">
  <main class="flex min-h-screen flex-col">
    <HeaderSection
      id="header"
      logoHref="/#main"
      trailingLinks={[
        {
          href: "/",
          label: "Home",
        },
      ]}
    />
    <section class="section-container flex w-full grow flex-col gap-y-6">
      <h1>Blog posts</h1>
      <ul class="flex flex-col gap-y-6">
        {
          blogPosts.map((post) => (
            <BlogPostListItem
              link={`/blog/${post.slug}`}
              title={post.data.title}
              author={post.data.author}
              pubDate={post.data.pubDate}
              description={post.data.description}
              tags={post.data.tags}
            />
          ))
        }
      </ul>
    </section>
    <FooterSection />
  </main>
</Layout>
