---
interface Props {
  title: string;
  pubDate: Date;
  description: string;
  author: string;
  tags: Array<string>;
  link: string;
}

const { title, pubDate, author, tags, link } = Astro.props;
---

<li>
  <article class="flex flex-col gap-y-2">
    <time datetime={pubDate.toString()}>{pubDate.toDateString()}</time>
    <a href={link} class="flex flex-col gap-y-2">
      <h3>{title}</h3>
      <p>Author: {author}</p>
    </a>
    <span>
      {
        tags.map((tag) => (
          <a href="#TODO" class="rounded-full bg-gray-50 px-3 py-1.5">
            {tag}
          </a>
        ))
      }
    </span>
  </article>
</li>
