---
import claw from "../assets/claw.png";
import { Image } from "astro:assets";

type TrailingLink = {
  href: string;
  label: string;
};

interface Props {
  id: string;
  logoHref?: string;
  trailingLinks?: TrailingLink[];
}

const defaultTrailingLinks: TrailingLink[] = [
  {
    href: "/",
    label: "Home",
  },
  {
    href: "/ultimate",
    label: "What is Ultimate?",
  },
  {
    href: "/quiz",
    label: "Quiz",
  },
  {
    href: "/media",
    label: "Media",
  },
];

const {
  id,
  logoHref = "/",
  trailingLinks = defaultTrailingLinks,
} = Astro.props;
---

<header id={id} class="fixed left-0 right-0 z-50 bg-neon-pink-light">
  <nav
    class="mx-auto flex h-12 max-w-screen-xl items-center justify-between px-4 py-2"
  >
    <a href={logoHref}>
      <div class="w-16">
        <Image
          src={claw}
          alt="lobstars logo"
          quality="med"
          widths={[250, 400]}
          sizes="(max-width: 450px) 250, 400px"
        />
      </div>
    </a>
    {
      trailingLinks.length > 0 && (
        <div class="flex gap-4 text-sm font-bold text-neon-pink-dark sm:text-base">
          {trailingLinks.map(({ label, href }) => (
            <a href={href}>{label}</a>
          ))}
        </div>
      )
    }
  </nav>
  <div class="border-2 border-b border-neon-pink-dark"></div>
</header>
