---
import { Image } from "astro:assets";
import team2 from "../assets/team-2.jpg";
import team3 from "../assets/team-3.jpg";
import team4 from "../assets/team-4.jpg";
import team5 from "../assets/team-5.jpg";
import action2 from "../assets/action-2.jpg";
import action3 from "../assets/action-3.jpg";
import action4 from "../assets/action-4.jpg";
import action1 from "../assets/action-1.jpg";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<link
  rel="stylesheet"
  href="../../node_modules/lite-youtube-embed/src/lite-yt-embed.css"
/>
<script src="../../node_modules/lite-youtube-embed/src/lite-yt-embed.js"
></script>

<section class="section-container">
  <div class="mt-4 grid gap-6 sm:grid-cols-2">
    <div class="content-container">
      <Image src={team3} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={action1} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={action3} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={team5} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={team4} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={action4} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={action2} alt="team photo" loading="lazy" />
    </div>
    <div class="content-container">
      <Image src={team2} alt="team photo" loading="lazy" />
    </div>
  </div>
  <div class="mx-auto max-w-xl pt-20">
    <lite-youtube videoid="2CxKZdQnQhQ" playlabel="Lobstars vs DJ Dahlem 2023"
    ></lite-youtube>
  </div>
  <div class="mx-auto max-w-xl pt-10">
    <lite-youtube videoid="ukJZ3qtpyks" playlabel="Lobstars Training"
    ></lite-youtube>
  </div>
</section>
